html{
  scroll-behavior:smooth;
  
}
.gradient-text {
  background-image: linear-gradient(to right, #6366F1, #8B5CF6, #EC4899);
  background-clip: text;
  color: transparent;
}
.congratulations{
 background-image: linear-gradient(to right, #ffcc00, #ac8ef1, #EC4899);
  background-clip: text;
  color: transparent;

}
.experience {
  background: linear-gradient(89deg, #B16CEA -14.15%, #F75F74 51.53%, #FE9751 114.97%);
      background-clip: text;
  color: transparent;
}
.Preview {
  background: #f7ff00;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #db36a4, #f7ff00);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #db36a4, #f7ff00); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


      background-clip: text;
  color: transparent;
}
.education {
  background: linear-gradient(89deg,  #FE9751 -14.15%, #F75F74 51.53%, #B16CEA 114.97%);
      background-clip: text;
  color: transparent;
}
.skills{
  background-image: linear-gradient(to left, #6366F1, #8B5CF6, #EC4899);
  background-clip: text;
  color: transparent;
}
.satisfied{
  background: #FF512F; 
background: -webkit-linear-gradient(to left, #F09819, #FF512F);
background: linear-gradient(to left, #F09819, #FF512F); 

}
.entertained{
  background: #b92b27;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #1565C0, #b92b27);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #1565C0, #b92b27); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}