.gradient-text {
  background-image: linear-gradient(to right, #6366F1, #8B5CF6, #EC4899);
  background-clip: text;
  color: transparent;
}
.skills{
  background-image: linear-gradient(to left, #6366F1, #8B5CF6, #EC4899);
  background-clip: text;
  color: transparent;
}